@font-face {
    font-family:'Roboto';
    src: url(./font/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family:'Roboto-extra-bold';
    src: url(./font/Noto_Sans/NotoSans-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family:'Roboto-light-italic';
    src: url(./font/Noto_Sans/NotoSans-LightItalic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Heading, logo and navigation links */

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px;
}

.navigation-links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
}

/* First section of homepage */

.first-section {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 400px;
}

.first-section-div {
    width: 40%;
    height: 350px;
}

.first-section-title {
    font-size: 48px;
    font-family: 'Roboto-extra-bold', sans-serif;
    color: #F9FAF8;
}

.first-section-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

#hero-image {
    width: auto;
    height: 350px;
}

.first-submit-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    background-color: #3882f6;
    font-size: 100%;
    color: #E5E7EB;
    text-transform: uppercase;
    font-weight: bold;
}

/* Second section of homepage */

.second-section {
    height: 400px;
}

.second-section-title {
    font-size: 40px;
    font-family: 'Roboto-extra-bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.second-section-div {
    display: flex;
    justify-content: space-around;
}

.image-container {
    border: solid red 2px;
    height: 100px;
    width: 100px;
}